
.portfolio__project-container{
    display: flex;
    flex-direction: column;
    gap:30px;
    background: var(--color-Graphite);
}

.portfolio__project-container h1{
    color: var(--color-Magnolia);
}

.porfolio__project-component-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:50px;

    /* background: lightcoral; */
    padding: 20px;
}

@media screen and (max-width: 1440px){
    .porfolio__project-component-container{
        grid-template-columns: repeat(1,1fr);
    }
}