

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --font-base:  "Inter", sans-serif;
  --font-alt:  "Roboto Mono", monospace;
  --font-alt1: "Mukta", sans-serif;
  
  /* --color-golden: #DCCA87;
  --color-black: #0C0C0C;
  --color-gray: #545454;
  --color-crimson: #F5EFDB;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF; */


  /*Brow color pallet*/
  --color-Graphite : #2D1E17;
  --color-JudgeGray : #523F31;
  --color-RomanCoffee : #796254;
  --color-Squirrel : #9D8A7C;
  --color-Silk : #C4B6AB;

  /*Black color pallet*/
  --color-Magnolia : #F7F2FF;
  --color-GraySuit : #BCBCCC;
  --color-Onyx : #393A40;
  --color-RaisinBlack : #262423;
  --color-SmokyBlack : #0E0903;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}